*.ipch
.vs/DX11FrameWork/v15/Browse.VC.db
DX11FrameWork/tank verts.txt
DX11FrameWork/DX11FrameWork.vcxproj
DX11FrameWork/DX11FrameWork.vcxproj.filters
.vs/DX11FrameWork/v15/.suo
DX11FrameWork.v12.suo
