*.ipch
.vs/DX11FrameWork/v15/Browse.VC.db
DX11FrameWork/tank verts.txt
DX11FrameWork/DX11FrameWork.vcxproj
DX11FrameWork/DX11FrameWork.vcxproj.filters
.vs/DX11FrameWork/v15/.suo
DX11FrameWork.v12.suo
.vs/DX11FrameWork/v15/.suo
DX11FrameWork/DX11FrameWork.vcxproj
ExternalLibraries/lib/assimp-vc141-mtd.dll
ExternalLibraries/lib/assimp-vc141-mtd.exp
ExternalLibraries/lib/assimp-vc141-mtd.ilk
ExternalLibraries/lib/assimp-vc141-mtd.lib
ExternalLibraries/lib/assimp-vc141-mtd.pdb
ExternalLibraries/include/assimp/XMLTools.h
ExternalLibraries/include/assimp/Vertex.h
ExternalLibraries/include/assimp/version.h
ExternalLibraries/include/assimp/vector3.inl
ExternalLibraries/include/assimp/vector3.h
ExternalLibraries/include/assimp/vector2.inl
ExternalLibraries/include/assimp/vector2.h
ExternalLibraries/include/assimp/types.h
ExternalLibraries/include/assimp/TinyFormatter.h
ExternalLibraries/include/assimp/texture.h
ExternalLibraries/include/assimp/Subdivision.h
ExternalLibraries/include/assimp/StringUtils.h
ExternalLibraries/include/assimp/StringComparison.h
ExternalLibraries/include/assimp/StreamWriter.h
ExternalLibraries/include/assimp/StreamReader.h
ExternalLibraries/include/assimp/StandardShapes.h
ExternalLibraries/include/assimp/SpatialSort.h
ExternalLibraries/include/assimp/SmoothingGroups.inl
ExternalLibraries/include/assimp/SmoothingGroups.h
ExternalLibraries/include/assimp/SkeletonMeshBuilder.h
ExternalLibraries/include/assimp/SGSpatialSort.h
ExternalLibraries/include/assimp/SceneCombiner.h
ExternalLibraries/include/assimp/scene.h
ExternalLibraries/include/assimp/RemoveComments.h
ExternalLibraries/include/assimp/quaternion.inl
ExternalLibraries/include/assimp/quaternion.h
ExternalLibraries/include/assimp/qnan.h
ExternalLibraries/include/assimp/ProgressHandler.hpp
ExternalLibraries/include/assimp/Profiler.h
ExternalLibraries/include/assimp/postprocess.h
ExternalLibraries/include/assimp/port/AndroidJNI/AndroidJNIIOSystem.h
ExternalLibraries/include/assimp/pbrmaterial.h
ExternalLibraries/include/assimp/ParsingUtils.h
ExternalLibraries/include/assimp/NullLogger.hpp
ExternalLibraries/include/assimp/metadata.h
ExternalLibraries/include/assimp/mesh.h
ExternalLibraries/include/assimp/MemoryIOWrapper.h
ExternalLibraries/include/assimp/matrix4x4.inl
ExternalLibraries/include/assimp/matrix4x4.h
ExternalLibraries/include/assimp/matrix3x3.inl
ExternalLibraries/include/assimp/matrix3x3.h
ExternalLibraries/include/assimp/MathFunctions.h
ExternalLibraries/include/assimp/material.inl
ExternalLibraries/include/assimp/material.h
ExternalLibraries/include/assimp/Macros.h
ExternalLibraries/include/assimp/LogStream.hpp
ExternalLibraries/include/assimp/Logger.hpp
ExternalLibraries/include/assimp/LogAux.h
ExternalLibraries/include/assimp/LineSplitter.h
ExternalLibraries/include/assimp/light.h
ExternalLibraries/include/assimp/irrXMLWrapper.h
ExternalLibraries/include/assimp/IOSystem.hpp
ExternalLibraries/include/assimp/IOStreamBuffer.h
ExternalLibraries/include/assimp/IOStream.hpp
ExternalLibraries/include/assimp/importerdesc.h
ExternalLibraries/include/assimp/Importer.hpp
ExternalLibraries/include/assimp/Hash.h
ExternalLibraries/include/assimp/GenericProperty.h
ExternalLibraries/include/assimp/fast_atof.h
ExternalLibraries/include/assimp/Exporter.hpp
ExternalLibraries/include/assimp/Exceptional.h
ExternalLibraries/include/assimp/defs.h
ExternalLibraries/include/assimp/Defines.h
ExternalLibraries/include/assimp/DefaultLogger.hpp
ExternalLibraries/include/assimp/DefaultIOSystem.h
ExternalLibraries/include/assimp/DefaultIOStream.h
ExternalLibraries/include/assimp/CreateAnimMesh.h
ExternalLibraries/include/assimp/config.h
ExternalLibraries/include/assimp/Compiler/pushpack1.h
ExternalLibraries/include/assimp/Compiler/pstdint.h
ExternalLibraries/include/assimp/Compiler/poppack1.h
ExternalLibraries/include/assimp/color4.inl
ExternalLibraries/include/assimp/color4.h
ExternalLibraries/include/assimp/cimport.h
ExternalLibraries/include/assimp/cfileio.h
ExternalLibraries/include/assimp/cexport.h
ExternalLibraries/include/assimp/camera.h
ExternalLibraries/include/assimp/ByteSwapper.h
ExternalLibraries/include/assimp/BlobIOSystem.h
ExternalLibraries/include/assimp/Bitmap.h
ExternalLibraries/include/assimp/BaseImporter.h
ExternalLibraries/include/assimp/anim.h
ExternalLibraries/include/assimp/ai_assert.h
ExternalLibraries/include/assimp/Add these files.txt
ExternalLibraries/include/assimp/aabb.h
ExternalLibraries/include/assimp/.editorconfig
.vs/DX11FrameWork/v15/Browse.VC.opendb
Debug/assimp-vc141-mtd.dll
Debug/DX11FrameWork.exe
Debug/DX11FrameWork.ilk
Debug/DX11FrameWork.pdb
Debug/TerrainShader.cso
*.obj
*.log
*.tlog
*.idb
*.pdb
